* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Font Styles */
body {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    background-color: #FFF;
    letter-spacing: 0.0125rem;
}

/* .dotted {
    --dot-bg: white;
    --dot-color: #dddddda6;
    --dot-size: 2px;
    --dot-space: 28px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
} */

/* .hero {
    box-shadow: none;
} */

h1 {
    font-weight: 400;
    font-size: 2.25rem;
    padding: 2rem 0;
    margin-bottom: 0.5rem;
    line-height: 2.5rem;
    letter-spacing: -1%;
}

.h1-light {
    font-weight: 400;
}

.h1-case {
    margin-bottom: 0.75rem;

}

#work h1 {
    padding-top: 4.1rem;
    font-weight: 500;
}

#home-line {
    margin-top: 0.5rem;
}

.case h1 {
    font-weight: 450;
    margin-top: 5rem;
    line-height: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 1.75rem;
    min-width: 13rem;
}

.grey.recent h2 {
    font-weight: 500;
}

@media (min-width: 1024px) {
    .lg-circle {
        display: block;
        position: absolute;
        top: 18em;
        right: 0;
        z-index: -100;
    }
}

.home p {
    font-size: 1.25rem;
    font-weight: 300;
}

.home h1 {
    font-weight: 450;
    font-size: 2.25rem;
    letter-spacing: -0.1%;
    text-align: left;
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.home h2 {
    font-weight: 500;
    font-size: 4rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    text-align: center;
    color: #1b8463;
}

.home h3 {
    font-weight: 400;
    /* font-size: 1.125rem; */
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #333333
}

.heading {
    /* color: #368069; */
    /* color: #31567f; */
    color: #202020;
    /* color: #2f5184; */
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 5rem;
}

.heading.first {
    margin-top: 1rem;
}

.two h2,
.three h2 {
    margin-top: 0;
}

.case-body.two {
    margin-bottom: 2.5rem;
}

.case-body.four h3 {
    font-size: 1.05rem;
    padding-bottom: 0;
}

.case-body.four p {
    font-size: 0.9rem;
}

.grey .case-body.last {
    margin-bottom: 0;
}

h2.h2-xl {
    font-weight: 450;
    font-size: 2.25rem;
    /* margin-top: 0.5rem;
    margin-bottom: 3.25rem; */
    margin-bottom: 1rem;
}

h2.h2-lg {
    font-weight: 400;
    margin-top: 0;
    line-height: 2rem;
}

h2.h2-lg.solution {
    margin-top: 3rem;
}

h2.h2-md {
    font-weight: 500;
    font-size: 0.95rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    color: #959595
}

h2.h2-sm {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25rem;
    padding-top: 3rem;
    padding-bottom: 0;
    color: #959595;
    /* color: #1e538b */
}


h2.case-tag {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.85rem;
    margin-right: 0.25rem;
    /* color: #959595; */

    /* rounded buttons */
    background-color: #ffffff;
    border-radius: 75px;
    border: solid 1px;
    border-color: #33333350;
    transition: 0.2s;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);

    display: inline;
}

.home h2.case-tag {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.85rem;
    margin-right: 0.25rem;
    /* color: #959595; */

    /* rounded buttons */
    background-color: #f8f9ff;
    border-radius: 75px;
    border: solid 1px;
    border-color: #33333350;
    transition: 0.2s;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.075);

    display: inline;
}

/* h3.case-name.next {
    padding-bottom: 1rem;
} */

.case-tag.color1 {
    background-color: #6eb57b;
    color: #FFF;
}

.case-tag.color2 {
    background-color: #4981ac;
    color: #FFF;
}

.case-tag.color3 {
    background-color: #e27594;
    color: #FFF;
}

.case-tag.color4 {
    background-color: #919ae0;
    color: #FFF;
}

.home-new .h2-sm {
    padding-top: 0;
}

.h2-sm.issue {
    margin-top: 0;
    padding-top: 0.5rem;
    color: #556b82;
}

.h2-sm.sub-in {
    margin-bottom: 0;
}

h3 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    line-height: 1.75rem;
}

h3.subheading {
    /* color: #368069; */
    /* color: #38A3A5; */
    color: #1b8463;
    font-size: 1.1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3.subheading.journey {
    color: #1e538b;
    /* color: #1b8463; */
    font-size: 1.1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3.p-in {
    margin: 0;
}

h3.subheading.first {
    padding-top: 3rem;
}

h3.case-name {
    margin-top: 1.25rem;
    margin-bottom: 0;
}

.case-name a {
    text-decoration: none;
}

p.case-description {
    margin-top: 0.25rem;
}

h4 {
    font-weight: 500;
    font-size: 0.85rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.0125rem;
}

.home-new h4 {
    padding-top: 1.5rem;
}

h5 {
    font-weight: 500;
    margin-top: 0;
    color: #959595;
}

p,
li {
    line-height: 1.5rem;
    font-weight: 300;
}

.source {
    font-size: 0.8rem;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 550;
    color: #000;
}

.case-intro p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.case-intro p.bold,
.case-intro p.last {
    margin-bottom: 0;
}

.case-name {
    padding-bottom: 0;
}

.add-pad {
    margin-bottom: 3rem;
}

.insights {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

h3.insights {
    margin-top: 0.25rem;
    padding-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
}

.no-pad {
    padding: 0;
    margin: 0;
}

.case-body .link-btn {
    padding-top: 0;
}

.link-btn .no-pad {
    padding-bottom: 0;
}

h1 em,
p strong {
    color: #1b8463;
    font-style: normal;
}

h2 em {
    /* color: #4873a0; */
    /* color: #3375E0; */
    color: #4075D7;
    font-style: normal;
}


/* Navigation */
nav.navbar {
    /* background-color: #F8F9FA; */
    background-color: #fffffffc;

    /* box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.1); */
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;
    z-index: 10;
    font-size: 0.9rem;
}

.arrow {
    text-align: center;
}

.bounce {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.logo .sm-circle {
    margin-right: 0.75rem;
}

.navbar .logo {
    padding-top: 0.15rem;
    font-size: 0.95rem;
    border: 0;
    text-align: left;
    /* display: block; */
    float: left;

    display: inline;
    position: relative;
    vertical-align: middle;

    /* rounded buttons */
    /* padding: 0.25rem 0.85rem;
    border-radius: 75px;
    border: solid 1px;
    border-color: #21212150;
    transition: 0.2s; */
}

a.logo:hover,
a.logo:focus {
    /* color: #368069; */
    /* color: #3375E0;  */
    color: #202020;
    /* text-decoration: underline; */
    /* transition: all .2s ease-in-out;
    transform: scale(1.25); */
}

.navbar .menu {
    padding-top: 0.25rem;
    float: right;
    position: relative;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    background-color: #FFF;
    color: #202020;
    text-decoration: none;
    /* margin-bottom: 1rem; */

    display: flex;
    flex-direction: row;
    align-items: center;

    /* rounded buttons */
    /* padding-left: 0.85rem;
    padding-right: 0.85rem;
    border-radius: 75px;
    border: solid 1px;
    border-color: #21212150;
    transition: 0.2s;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05); */
}

a,
.footer a p {
    /* color: #368069; */
    color: #111111;
    /* text-decoration: none; */
    text-decoration: underline;
    text-underline-offset: 4px;
}

a:hover,
a:focus,
.footer a p:hover,
.footer a p:focus {
    /* text-decoration: underline; */
    text-decoration: none;
    /* color: #3375E0; old blue */
    color: #4075D7;
}

.selected a {
    color: #b2b2b2;
}

hr {
    color: #20202025;
    margin-top: 0;
    margin-bottom: 0;
    height: 1px;
    border: none;
    background-color: rgba(47, 45, 43, 0.2);
}

hr.midline {
    margin: 2rem 0;
    max-width: 2rem;
}

hr.longline {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 0;
}

hr.longline.last {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
    filter: drop-shadow(0 0 0.1rem #d2d2d2);
    border-radius: 8px;
}

picture img {
    border-radius: 0;
}

/* a:hover img,
a:focus img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .15);
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    transform: translateY(0.3em);
} */

/* .view-img a:hover img,
.view-img a:focus img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .15);
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    transform: translateY(0.25em);
} */

figure {
    padding-bottom: 2rem;
    margin: 0;
}

figure h3 {
    margin-bottom: 0;
}

figure p {
    margin-top: 0.5rem;
}

figure img {
    border-radius: 8px;
}

/* Footer */
.footer {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.footer.grey {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    /* background-color: #F8F9FA; */
    background-color: #FFF;
}

.footer {
    margin: 0;
    padding-top: 1rem;
    /* padding-bottom: 4rem; */
}

.footer p {
    font-size: 0.75rem;
    display: inline;
}

.intro-item {
    padding-right: 3rem;
}

.intro-item .h2-sm {
    margin: 0;
    padding-top: 1rem;
}

.section {
    padding-bottom: 0;
    margin-bottom: 0;
}

.section.bio {
    margin-top: 5rem;
}

.bio .float-left {
    text-decoration: underline;
    padding-bottom: 1rem;
}

.bio .float-left:hover,
.bio .float-left:focus {
    text-decoration: none;
}

.section.main {
    margin-left: 0;
    margin-right: 0;
}

.section.case.grey {
    background-color: #F8F9FA;
}

.grey {
    background-color: #F8F9FA;
}

.grey.recent {
    margin-bottom: 0;
}

.grey.end {
    padding-top: 5rem;
    margin-bottom: 0;
}

.grey-block-2 {
    padding-top: 2.5rem;
}

.headshot {
    margin-top: 1rem;
    border-radius: 8px;
}

.headshot.second {
    margin-top: 0;
}

.case-body h3 {
    padding-top: 0;
}

.case-body p {
    padding-bottom: 1rem;
    margin-top: 0;
}

.case-body.grey {
    margin-top: 0;
    padding-top: 0;
}

.grid.case-intro .h2-sm {
    padding-top: 2rem;
}

p.sub-p-img {
    padding-bottom: 0;
}


.pad-top {
    margin-top: 3rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.pop-up {
    margin: auto;
    display: block;
    width: 100%;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 75rem;
    text-align: center;
    color: #FFF;
    padding: 2rem 0;
    height: 1rem;
}

.close {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    color: #FFF;
    font-size: 4rem;
}

.close:hover,
.close:focus {
    color: #BBB;
    text-decoration: none;
    cursor: pointer;
}

.p-cap {
    text-align: center;
    font-size: 0.75rem;
    padding-top: 0.5rem;
    /* margin-bottom: 3rem; */
}

.highlight {
    /* background-color: #FFF; */
    padding: 2.25rem;
    margin-top: 2rem;
    /* background-color: rgba(239, 251, 240, 0.737); */
    background-color: #f5f6f7;
    border-radius: 8px;

    /* border: solid 1px;
    border-color: #21212150;*/
    /* filter: drop-shadow(0 0 0.1rem #d2d2d2);  */
}

.highlight.last {
    margin-bottom: 0;
}

.highlight p {
    margin-bottom: 0;
}

.key-changes {
    padding-top: 0;
    padding-bottom: 0;
}

.comparison {
    margin-top: 0;
}

.prototype {
    margin-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.figma {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.final-design,
.prototype {
    margin-top: 2rem;
}

.sub-p2 {
    padding-top: 2rem;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.yt-vid {
    padding-bottom: 56.5%;
    position: relative;
}

.yt-vid iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 8px;
}

.shorts iframe {
    border-radius: 8px;
    width: 275px;
    overflow: hidden;
}

.none {
    margin-bottom: 3rem;
}

.home .link-btn {
    text-align: center;
    padding-top: 0.5rem;
}

.link-btn {
    padding-top: 2rem;
}

.link-btn p {
    font-size: 0.95rem;
    letter-spacing: 0.25px;
}

.link-btn a {
    background-color: #FFF;
    color: #202020;
    text-decoration: none;
    /* letter-spacing: 0.0156rem; */

    display: inline-flex;
    padding: 0.5rem 0.95rem;

    box-shadow: 0.5px 0.5px 5px 1px rgba(0, 0, 0, .1);
    border-radius: 5px;
    border: solid 1px;
    border-color: #202020;
    transition: all 0.3s;
}

.link-btn a:hover,
.link-btn a:focus,
.link-btn .primary-btn:hover,
.link-btn .primary-btn:focus {
    text-decoration: none;
    /* background-color: #4873a0; */
    /* border-color: #4873a0; */

    background-color: #272727;

    /* background-color: #4075D7; */
    /* border-color: #4075D7; */

    /* background-color: #3469c0; 
    border-color: #3469c0;*/

    /* background-color: #1b8463; 
    border-color: #1b8463;*/

    color: #FFF;
    transition: all 0.3s;

    /* box-shadow: 0.5px 0.5px 5px 1px rgba(0, 0, 0, .1);
    background-color: #eeeeee55; 
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    transform: translateY(0.2em); */
}

.link-btn .primary-btn {
    background-color: #030303;
    color: #fff;
    margin-right: 0.5rem;
    /* box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .1); */

}

.link-btn.deliverables {
    padding-top: 0.5rem;
}

mark {
    background-color: #bfdad6;
}

.home-pad {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.home-new {
    margin: 2.5rem 0;
}

.home-new div.link-btn {
    padding-top: 0.5rem;
    /* padding-bottom: 2rem; */
}

.section-head {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: 0.0063rem;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-left {
    float: left;
    padding-right: 2rem;
}

.float-center {
    float: center;
    text-align: center;
}

.float-right {
    float: right;
    padding-left: 2rem;
}

p.float-right,
p.float-left {
    margin-top: 0;
    /* padding-bottom: 2rem; */
}

/* .fade {
    transition: opacity 0.25s ease-in;
}

.fadeOut {
    opacity: 0.5;
}

.fadeIn {
    opacity: 1;
} */

.faded {
    opacity: 0.5;
}

.redcircle-link:link {
    color: #ea404d;
    text-decoration: none;
}

.redcircle-link:hover,
.redcircle-link:active,
.redcircle-link:visited {
    color: #ea404d;
}



.card {
    transform: perspective(1px) translateZ(0);
    transition-property: transform;
    transition-duration: 0.5s;
}

.card a {
    text-decoration: none;
    color: #202020;
}

.card:hover,
.card:focus {
    transform: scale(0.96);
}

.card a:hover,
.card a:focus {
    text-decoration: none;
    color: #202020;
}

.card:hover.inactive,
.card:focus.inactive {
    transform: scale(1);
}




/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #fff;
    color: #1b8463;
    cursor: pointer;
    padding: 1rem;
    width: 100%;

    text-align: left;
    font-weight: 500;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border-style: solid none none;
    border-width: 1.5px;
    border-color: #20202025;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: rgb(232, 251, 234, 0.737);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 1rem;
    display: none;
    overflow: hidden;
}

.collapsible:after {
    /* Unicode character for "plus" sign (+) */
    content: '\02795';

    color: white;
    float: right;
    vertical-align: center;
}

.active:after {
    /* Unicode character for "minus" sign (-) */
    content: "\2796";
}